{% extends "./base.html" %}
{% block content %}
    <div class="float-right">
        <button type="button" id="add_btn" class="btn btn-light" onclick="location.href='/add/'">+</button>
    </div>
    <div class="p-3 m-2">
        <div class="border-bottom">
            <h1>Team members</h1>
            {% if members %}
                <p class="mb-5">You have {{members.count}} team members.</p>
            {% endif %}
        </div>

        {% for member in members %}
            <div
                class="border-bottom p-3 d-flex align-items-stretch"
                onclick="location.href='{% url 'update_member' pk=member.pk %}'">
                <div>
                    <img src="/static/img/avatar.jpg" alt="avatar">
                </div>
                <div>
                    <div>
                        <span><b>{{member.first_name}} {{member.last_name}} </b></span>
                        {% if member.isAdmin %}
                            <span>(admin)</span>
                        {% endif %}
                    </div>
                    <p>{{member.phoneNumber}}</p>
                    <p>{{member.email}}</p>
                </div>
            </div>

        {% empty %}
            <h4> You have no lists. </h4>
        {% endfor %}
    </div>
{% endblock %}